<div class="grid-stack-item" gs-auto-position="@WidgetOptions?.AutoPosition" gs-x="@WidgetOptions?.X" gs-y="@WidgetOptions?.Y" gs-w="@WidgetOptions?.W" 
     gs-h="@WidgetOptions?.H" gs-max-w="@WidgetOptions?.MaxW" gs-min-w="@WidgetOptions?.MinW" gs-max-h="@WidgetOptions?.MaxH" 
     gs-min-h="@WidgetOptions?.MinH" gs-locked="@WidgetOptions?.Locked.ToString()" gs-no-resize="@WidgetOptions?.NoResize.ToString()" gs-no-move="@WidgetOptions?.NoMove.ToString()" 
     gs-resize-handles="@WidgetOptions?.ResizeHandles" gs-id="@WidgetOptions?.Id" gs-content="@WidgetOptions?.Content" 
     gs-sub-grid="@WidgetOptions?.SubGrid">
    <div class="grid-stack-item-content">@ChildContent</div>
</div>
